<nav x-data="{ open: false }" class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex items-center px-2 lg:px-0">
        <div class="flex-shrink-0 text-white">
          <a href="{{ .Site.Home.Permalink }}"><img class="block h-8 w-auto rounded-full" src="/imgs/logos/osteopathes.pro-logo.png" alt="Logo osteopathes.pro" /></a>
        </div>
        <div class="hidden lg:block lg:ml-6">
          <div class="flex">
            <a href="{{ .Site.Home.Permalink }}" class="px-3 py-2 rounded-md text-sm leading-5 font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Accueil</a>
            {{- range .Site.Sections -}}
            <a href="{{ .Permalink }}" class="ml-4 px-3 py-2 rounded-md text-sm leading-5 font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">{{ .Title }}</a>
            {{- end -}}
          </div>
        </div>
      </div>
      <div class="flex-1 flex justify-center px-2 lg:ml-6 lg:justify-end">
        <form class="max-w-lg w-full lg:max-w-xs" method="get" action="{{ with .Site.GetPage "/recherche.md" }}{{ .Permalink }}{{ end }}">
          <label for="search" class="sr-only">Recherche</label>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
              </svg>
            </div>
            <input id="search" class="block w-full pl-10 pr-3 py-2 border border-transparent rounded-md leading-5 bg-gray-700 placeholder-gray-400 focus:outline-none focus:bg-white sm:text-sm transition duration-150 ease-in-out" placeholder="Recherche" type="search" name="q" />
          </div>
        </form>
      </div>
      <div class="flex lg:hidden">
        <button @click="open = !open" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white transition duration-150 ease-in-out">
          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path :class="{'hidden': open, 'inline-flex': !open }" class="inline-flex" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            <path :class="{'hidden': !open, 'inline-flex': open }" class="hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div :class="{'block': open, 'hidden': !open}" class="hidden lg:hidden">
    <div class="px-2 pt-2 pb-3">
      <a href="{{ .Site.Home.Permalink }}" class="block px-3 py-2 rounded-md text-base font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Accueil</a>
      {{- range .Site.Sections -}}
      <a href="{{ .Permalink }}" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">{{ .Title }}</a>
      {{- end -}}
    </div>
  </div>
</nav>

{{- if .IsPage -}}
<div id="progress" class="fixed w-full z-10 h-1 top-0 right-0 bg-white shadow" style="background:linear-gradient(to right, #38B2AC var(--scroll), transparent 0);"></div>
{{- end -}}
