<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto px-4 py-12 sm:px-6 lg:py-16 lg:px-8">
    <div class="px-6 py-6 bg-teal-700 rounded-lg md:py-12 md:px-12 lg:py-16 lg:px-16 xl:flex xl:items-center">
      <div class="xl:w-0 xl:flex-1">
        <h2 class="text-2xl leading-8 font-extrabold tracking-tight text-white sm:text-3xl sm:leading-9">
          Vous souhaitez avoir de nos nouvelles ?
        </h2>
        <p class="mt-3 max-w-3xl text-lg leading-6 text-teal-200">
          Inscrivez-vous à notre lettre d'informations pour rester au courant !
        </p>
      </div>
      <div class="mt-8 sm:w-full sm:max-w-md xl:mt-0 xl:ml-8">
        <form action="https://osteopathes.us1.list-manage.com/subscribe/post?u=58fe46fe35968474424a64eb4&amp;id=8268c3922a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="sm:flex" target="_blank">
          <input alt="Votre email" type="email" name="EMAIL" placeholder="votre.email@example.com" aria-label="Adresse email" required class="appearance-none w-full px-5 py-3 border border-transparent text-base leading-6 rounded-md text-gray-900 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:shadow-outline-teal transition duration-150 ease-in-out" />
          <div style="position: absolute; left: -30000px;" aria-hidden="true"><input type="text" name="b_58fe46fe35968474424a64eb4_8268c3922a" tabindex="-1" value=""></div>
          <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3 sm:flex-shrink-0">
            <input type="submit" value="Tenez moi au courant" name="subscribe" id="mc-embedded-subscribe" class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-teal-500 hover:bg-teal-400 focus:outline-none focus:bg-teal-400 transition duration-150 ease-in-out" />
          </div>
        </form>
        <p class="mt-3 text-sm leading-5 text-teal-200">
          Votre adresse email ne sera <span class="font-bold">jamais cédée ou revendue</span>. Pas de spam, promis !
          Nous utilisons le prestataire Mailchimp pour l’envoi d’emails. En savoir plus sur <a href="https://www.iubenda.com/privacy-policy/42191435" rel="nofollow noreferrer" class="text-white font-medium underline">notre politique de confidentialité</a>
        </p>
      </div>
    </div>
  </div>
</div>