{{ $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) }}
{{ if .Title }}
<figure class="flex flex-col items-center justify-center">
  <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" loading="lazy" class="flex items-center justify-center" />
  <figcaption class="text-center">{{ .Title | markdownify }}</figcaption>
</figure>
{{ else }}
<figure class="flex flex-col items-center justify-center">
  <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" loading="lazy" />
</figure>
{{ end }}
