/*
  Partials and vendors here
  */
@import 'imports/tailwind.css';

@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  scroll-behavior: smooth;
}

.header-img-background {
  @apply w-full align-middle bg-center bg-cover;
  height: 25rem;
}

/*! purgecss start ignore */
.prose a {
  @apply p-0 font-medium no-underline border-b border-gray-300 cursor-pointer;
  box-shadow: 0 -2px 0 theme('colors.gray.300') inset;
}

.prose a[rel*="external"]::after {
  content: " "url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20class='i-external'%20viewBox='0%200%2032%2032'%20width='14'%20height='14'%20fill='none'%20stroke='%239fa6b2'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='9.38%'%3E%3Cpath%20d='M14%209%20L3%209%203%2029%2023%2029%2023%2018%20M18%204%20L28%204%2028%2014%20M28%204%20L14%2018'/%3E%3C/svg%3E");
}

.prose a.unstyle {
  @apply p-0 font-normal border-0 shadow-none;
}

.prose a:hover {
  @apply text-teal-600 border-teal-400;
  box-shadow: 0 -2px 0 theme('colors.teal.400') inset;
}

.prose a.unstyle:hover {
  @apply shadow-none;
}

.prose abbr[title],
abbr[title] {
  @apply no-underline border-b border-dotted;
  cursor: help;
}

/*

.prose table {
  @apply mt-0 mb-0;
}

.prose table thead tr th {
  @apply px-6 py-3 bg-gray-100 text-base leading-4 font-bold text-gray-500 tracking-wider
}

.prose table thead th:first-child {
  @apply pl-6;
}

.prose table thead th:last-child {
  @apply pr-6;
}

/* .prose table thead tr th {
  @apply px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-base leading-4 font-bold text-gray-500 tracking-wider
} */

/*.prose table tbody td {
  @apply px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap;
} */

/*.prose table tr th,
.prose table tr td {
  @apply leading-5 text-gray-900 whitespace-no-wrap;
} */

/*.prose table tr:nth-child(even) {
  @apply bg-white;
} */

/*.prose table tr:nth-child(even) {
  @apply bg-gray-50;
} */

/*.prose table tr:only-child th:only-child {
  @apply rounded-t;
} */

/*.prose table tr:first-child th:first-child {
  @apply rounded-tl;
} */

/*.prose table tr:first-child th:last-child {
  @apply rounded-tr;
} */

/*.prose table tr:only-child td:only-child {
  @apply rounded-b;
} */

/*.prose table tr:last-child td:first-child {
  @apply rounded-bl;
} */

/*.prose table tr:last-child td:last-child {
  @apply rounded-br;
} */

.prose img {
  @apply h-auto max-w-full m-3 text-center bg-gray-100 border border-gray-400 rounded;
}

.prose img.unstyle {
  @apply h-auto max-w-full m-0 text-center bg-transparent border-0 rounded-none;
}

.footnotes {
  @apply my-10;
}

a[href^="#fn:"]::before,
a[href^="#fnref:"]::before {
  content: "[";
}

a[href^="#fn:"]::after,
a[href^="#fnref:"]::after {
  content: "]";
}

a.footnote-ref {
  @apply pb-0 my-1 ml-1 border-b shadow-none;
}

/*! purgecss end ignore */

/* Buttons */

a.btn,
button.btn,
input.btn {
  @apply inline-block px-3 py-2 text-white border-2 rounded cursor-pointer;
  box-shadow: none;
}

a.btn:hover,
button.btn:hover,
input.btn:hover {
  @apply bg-gray-700;
  box-shadow: none;
}

a.btn:focus,
button.btn:focus,
input.btn:focus {
  @apply ring;
  box-shadow: none;
}

a.btn-success,
button.btn-success,
input.btn-success {
  @apply bg-teal-500 border-teal-500;
  box-shadow: none;
}

a.btn-success:hover,
button.btn-success:hover,
input.btn-success:hover {
  @apply text-teal-500 bg-white;
  box-shadow: none;
}

a.btn-success-outline,
button.btn-success-outline,
input.btn-success-outline {
  @apply text-teal-500 bg-white border-teal-500;
  box-shadow: none;
}

a.btn-success-outline:hover,
button.btn-success-outline:hover,
input.btn-success-outline:hover {
  @apply text-white bg-teal-500;
  box-shadow: none;
}