{{- define "main" -}}

<div class="container px-4 md:px-0 max-w-6xl mx-auto">

  <div class="mx-0 sm:mx-6">

    <div class="justify-center">
      <h1 class="text-5xl text-center">Page non trouvée...</h1>

      <h2 class="m-0 text-6xl text-center"> 😿 </h2>

      <div class="block text-center">
        <a href="{{ "/" | relURL }}" class="bg-teal-500 hover:bg-teal-700 text-white py-2 px-4 text-md font-bold rounded-full">Retourner à l'accueil</a>

      </div>


    </div>
  </div>
</div>


{{- end -}}
