{{- define "main" -}}

<div class="container max-w-6xl px-4 mx-auto md:px-0">

  <div class="mx-0 sm:mx-6">

    <div class="justify-center">
      <h1 class="text-5xl text-center">Page non trouvée...</h1>

      <h2 class="m-0 text-6xl text-center"> 😿 </h2>

      <div class="block text-center">
        <a href="{{ "/" | relURL }}"
          class="px-4 py-2 font-bold text-white bg-teal-500 rounded-full hover:bg-teal-700 text-md">Retourner à
          l'accueil</a>

      </div>


    </div>
  </div>
</div>


{{- end -}}